.sidebar-parent {
  width: 20%;
  height: 100%;

  .author-info-parent {
    width: 100%;
    height: 100%;

    .author-img {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      margin-bottom: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;

      .author-name {
        width: 100%;
        .author-email {
          width: 100%;
        }
      }
    }
  }
}
